<head>
    <%-include('meta') %>
            <%-include('seo') %>
                <%-include('share') %>
                    <title>
                        <%=title%>
                    </title>
                    <%-include ('./style') %>
</head>